* {
  margin: 0
}

:root {
  display: flex;
  flex-direction: column;
  background-color: rgb(28, 29, 29);
  font-family: "Share Tech", sans-serif;
  width: 100%
}

menu {
  background-color: rgb(5, 5, 5);
  height: 100px;
  position: fixed;
  bottom: -20px;
  left: 0;
  width: 100%;
  margin-top: auto;
}

translate_button {
  z-index: 100;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

translate_button button {
  background-color: rgb(72, 89, 106);
  border-radius: 5px;
  color: rgb(173, 197, 219);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
}

translate_button button:hover {
  background-color: rgb(39, 55, 70);
  color: white;
  border-radius: 15px;
}

.share-tech-regular {
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
}


header {
  display: flex;
  flex-direction: row;
  color: white;
  background-color: rgb(72, 89, 106);
  height: auto;
  width: 100%;
}

header h1 {
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

header input {
  float: right;
  margin-left: 800px;
  margin-top: 10px;
  width: 600px;
  height: 30px;
  border-color: rgb(5, 5, 5);
  border-width: 3px;
  border-radius: 5px;

}

library {
  display: grid;
  grid-template-columns: auto auto auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-bottom: 100px;
}

novel_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  background-color: rgb(0, 0, 0);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}

novel_button a {
  color: rgb(255, 255, 255);
  font-size: 18px;
  text-decoration: none;
}

chapter Link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

novel_button img {
  width: 300px;
  height: 400px;
  margin-top: 5px;
}

chapter_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  background-color: rgba(75, 81, 81, 0.267);
  padding: 10px;
  width: 70px;
  border-width: 5px;
  border-color: rgb(75, 81, 81);
  border-style: solid;
}

chapter_button:hover {
  background-color: rgb(75, 81, 81);
  border-radius: 15px;
}

chapter_button p {
  color: rgb(255, 255, 255);  
}

chapter_button a {
  color: rgb(75, 81, 81);
  font-size: 18px;
  text-decoration: none;
}
#devil {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:min-content;
  height:min-content;
}

translate_menu, new_novel_menu {
  display: flex;
  flex-direction: column;
  background-color: rgb(28, 29, 29);
  width: 50%;
  height: 50%;
  z-index: 200;
  color: white;
  position: fixed;
  left: 25%;
  top: 25%;
  border-radius: 15px;
  border-width: 15px;
  border-style: solid;
  border-color: rgb(75, 81, 81);
}

translate_menu #exit, new_novel_menu #exit {
  align-self: flex-end;
  width: 20px;
}

translate_menu .row, new_novel_menu .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
  margin-bottom: 20px;
}

translate_menu h3, new_novel_menu h3 {
  margin-right: 20px;
  justify-content: center;
}

translate_menu input, new_novel_menu input {
  margin-left: 20px;
  width: 300px;
  height: 30px;
  border-color: rgb(5, 5, 5);
  border-width: 3px;
  border-radius: 5px;
}

#extra {
  flex-direction: column;
  align-items: center
}

#extra textarea {
  width: 80%;
  height: 100px;
  border-color: rgb(5, 5, 5);
  border-width: 3px;
  border-radius: 5px;
}

translate_menu #submit, new_novel_menu #submit {
  margin-top: 50px;
  justify-content: center;
  align-self: center;
  height: 50px;
  background-color: rgb(72, 89, 106);
  border-radius: 5px;
  color: rgb(173, 197, 219);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
}

translate_menu #submit:hover, new_novel_menu #submit:hover {
  background-color: rgb(39, 55, 70);
  color: white;
  border-radius: 15px;
}

new_series_button button{
  margin: 20px;
  width: 300px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(75, 81, 81);
  border-color: rgb(75, 81, 81);
  border-width: 3px;
  border-radius: 5px;
}

chapter_page {
  color: rgb(255, 255, 255);
  padding: 20px;
  padding-bottom: 900px;
}

chapter_page p {
  padding-left: 80px;
  padding-right: 80px;
  line-height: 2em;
}

chapters {
  display: grid;
  grid-template-columns: auto auto auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-bottom: 100px;
}

back_to_series {
  display: flex;
  width: 180px;
  height: 20px;
  background-color: rgb(72, 89, 106);
  border-radius: 5px;
  color: rgb(173, 197, 219);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
  position: fixed;
  left: 50px;
  bottom: 20px;
  z-index: 999;
}

back_to_series a {
  text-decoration: none;
  color: rgb(173, 197, 219);
}

back_to_series:hover {
  background-color: rgb(39, 55, 70);
  border-radius: 15px;
}

back_to_series:hover a {
  color: white;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#loading {
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

novel_page {
  display: flex;
  flex-direction: row;
}

novel_page .header {
  margin-top: 20px;
  font-size: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
}

novel_page .header img {
  width: 70%;
  margin-top: 20px;
  border-width: 5px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
}

delete_button {
  z-index: 100;
  position: fixed;
  bottom: 20px;
  left: 20px;
}

delete_button button {
  background-color: rgb(171, 36, 36);
  border-radius: 5px;
  color: rgb(59, 12, 12);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
}

delete_button button:hover {
  background-color: rgb(107, 26, 26);
  color: white;
  border-radius: 15px;
}

chapter_delete_mode_button {
  z-index: 100;
  position: fixed;
  bottom: 20px;
  left: 180px;
}

chapter_delete_mode_button button {
  background-color: rgb(99, 99, 99);
  border-radius: 5px;
  color: rgb(156, 8, 173);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
}

chapter_delete_mode_button button:hover {
  background-color: rgb(30, 5, 72);
  color: white;
  border-radius: 15px;
}

delete_chapter_button button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  background-color: rgba(43, 2, 2, 0.267);
  padding: 10px;
  width: 100px;
  height: min-content;
  border-width: 5px;
  border-color: rgb(235, 54, 54);
  border-style: solid;
  font-family: "Share Tech", sans-serif;
  font-size: 16px;
  font-style: bold;
}

delete_chapter_button button:hover {
  background-color: rgb(21, 4, 4);
  border-radius: 15px;
}

delete_chapter_button button p {
  color: rgb(255, 255, 255);  
}